extends layout

block content

  h1 Nueva clase
  p Clase dada de alta con éxito.
  p La clase tiene 
    b #{alumnos} alumnos.
  hr
  p Los códigos generados para los alumnos son: 
  ul
    each key in codigos
      li
        p Código !{key.numero}: 
         b !{key.codigo}
