extends layout

block content

  h1 Mis clases
  p Estas son las #{numclases} clases que has dado de alta hasta ahora:
  ul
    each key in clases
      li
        p Clase !{key.clase} con !{key.numalumnos} alumnos
        p Los codigos de la clase son: !{key.codigos}
