extends layout

block content

  h1 Registro de profesor

  form(name="register", method="post", action="register")
    div.input
        span.label Nombre de usuario:
        br
        input(type="text", name="username", required)
    div.input
        span.label Introduzca su correo: 
        br
        input(type="email", name="mail", required)
    div.input
        span.label Introduzca la contraseña:
        br
        input(type="password", name="pass", required)
    div.input
        span.label Repita la contraseña:
        br
        input(type="password", name="pass2", required)
    div.actions
        br
        input(type="submit", value="Registrarse")
