extends layout

block content

  .container.starter-template(role="main")
    div.jumbotron
      h1 Registro de Profesor
      p
        form(name="register", method="post", action="register", enctype="multipart/form-data")
          .form-group.row
            label.col-sm-2.col-form-label(for='username') Nombre de usuario
            .col-sm-10
              input#username.form-control(type='text', name="username", placeholder='ej: Pepe Pérez')
           .form-group.row
            label.col-sm-2.col-form-label(for='email') Introduzca su correo
            .col-sm-10
              input#email.form-control(type='mail', name="email", placeholder='ej: profesor@educacion.org')
          .form-group.row
            label.col-sm-2.col-form-label(for='password') Introduzca una contraseña
            .col-sm-10
              input#password.form-control(type='password', name="pass", placeholder='Introduce una contraseña')
          .form-group.row
            label.col-sm-2.col-form-label(for='repassword') Repita la contraseña
            .col-sm-10
              input#repassword.form-control(type='password', name="pass2", placeholder='Introduce tu contraseña')
          .form-group.row
            .offset-sm-2.col-sm-10
              button.btn.btn-primary(type='submit', value="login") Registrarse
          p ¿Estás registrado? Inicia sesión 
            a(href="login") aquí
